body {
    background: linear-gradient(to bottom, #3D7EAA, #FFE47A);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 0.85em;
    color: #2E406C;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #82c4eb;
    border: 1px solid #63badd;
    cursor: pointer;
}

body, button {
    font-family: 'Supermercado One', cursive;
}

.happy-mode {
    background: linear-gradient(to bottom, #2BC0E4, #EAECC6);
}